<!doctype html>
<html>
<head>
	<title>Board Game Database</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="nav_bar">
	<h1> CS 340 Final Project: Board Game Database by Matthew Toro </h1>
	<span> 
	<ul class="links">
	<li class="link"> <a href="http://flip3.engr.oregonstate.edu:22725/">Introduction </a>
	<li class="link"> <a href="http://flip3.engr.oregonstate.edu:22725/boardgames">Boardgames </a>
	<li class="link"> <a href="http://flip3.engr.oregonstate.edu:22725/designers">Designers</a>
	<li class="link"> <a href="http://flip3.engr.oregonstate.edu:22725/publishers">Publishers</a>
	<li class="link"> <a href="http://flip3.engr.oregonstate.edu:22725/mechanisms">Mechanisms</a>
	</ul>
	</span>
	<HR WIDTH="100%">
	</div>
	{{{body}}}
</body>
</html>